@use '../../styles/variables' as *;

.header {
  background-color: $color-white;
  box-shadow: $shadow-sm;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  width: 100%;
}

.logo {
  display: block;

  img {
    height: 130px;
    margin: -25px 0;
    object-fit: contain;
    width: auto;

    @media (min-width: $breakpoint-lg) {
      height: 150px;
      margin: -30px 0;
    }
  }
}

.burger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  padding: 0;
  width: 28px;

  @media (min-width: $breakpoint-lg) {
    display: none;
  }

  span {
    background-color: $color-primary;
    display: block;
    height: 2px;
    transition: all $transition-normal;
    width: 100%;
  }

  &[aria-expanded="true"] {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.nav {
  @media (max-width: #{$breakpoint-lg - 1px}) {
    background-color: $color-white;
    box-shadow: $shadow-md;
    left: 0;
    opacity: 0;
    padding: $spacing-lg;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-10px);
    transition: all $transition-normal;
    visibility: hidden;

    &.open {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.navList {
  display: flex;
  gap: $spacing-xl;

  @media (max-width: #{$breakpoint-lg - 1px}) {
    flex-direction: column;
    gap: $spacing-md;
  }
}

.link {
  color: $color-text;
  font-weight: $font-weight-medium;
  position: relative;
  text-decoration: none;

  &::after {
    background-color: $color-secondary;
    bottom: -2px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width $transition-normal;
    width: 0;
  }

  &:hover::after {
    width: 100%;
  }

  &.active {
    color: $color-primary;

    &::after {
      width: 100%;
    }
  }
}
